body{
    margin: 0px;
    background-color:black;
}
*{
    color: white;
    font-family: 'Roboto', sans-serif;

    font-style: normal;
    font-weight: 200;
    font-weight: 200;
}
.maincontainer{
    margin: 33px 42px 38px 42px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 37px;
    row-gap: 29px;
}
.heading{
    grid-column: 1/3;
    height: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.heading>span{
 
    font-size: 48px;
    line-height: 58px;
    margin-left: 51px;
    margin-right: 51px;
    color: #FFFFFF;
}
.taskcontainer{
    grid-row: 2/5;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profilebox>img{
    width: 190px;
    height: 190px;
}
.profilebox>span{
    font-size: 24px;
    text-align: center;
    line-height: 29px;
 
}
.profilebox{
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.employeedetails>ul{
    font-size: 24px;
    color: #FFFFFF;
}
ul li::content{
    color: #808080;
    
}
ul>li{
    margin: 20px 0px;
}
.socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 43px 24px 43px;
    font-size: 24px;
    line-height: 29px;
}
.socialmedia>span{
    color:#FFFFFF;   
}
.socialmedia>div{
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    color: #808080;
    margin: 12px 0px;
}
svg{
    width: 40px;
    height: 40px;
}
@media all and (max-width:640px) {
    .maincontainer{
        grid-template-columns: auto;
        row-gap: 29px;
    }
    .taskcontainer{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .heading{
        grid-column: 1/2;
       
    }
}

.taskcontainer>h2{
    margin: 30px 40px;
    font-size: 48px;
line-height: 58px;
}
table{
    font-size: 24px;
line-height: 29px;
border: 1px solid #808080;
border-collapse: collapse;
margin:30px;
width:90%;
height: 80%;
color: #808080;
align-self: center;

}
th,td{
    font-size: 24px;
}
th{
    text-align: center;
}

th:nth-child(1){
    border-right: 1px solid #808080;
}
td:nth-child(1){
    border-right: 1px solid #808080;
    text-align: center;
}
th:nth-child(2){
    border-right: 1px solid #808080;
}
td:nth-child(2){
    border-right: 1px solid #808080;
    text-align: center;
}
tr:nth-child(1){
    border: 1px solid #808080; 
    border-top-left-radius: 20px;
}
td:nth-child(3){
    padding-left: 27px;
}

input[type=checkbox]{
    opacity: 0.2;
   border: 2px solid white;
   color: black;
   background-color: black;
    height: 30px;
    width: 30px;
}
}
input[type=checkbox]:checked{
    background-color: black;
    font-size: 20px;
}
.maincontainer>div{
    border: 1px solid #808080;
    border-radius: 20px;
}

tr:nth-child(1){
   
}


